
  <header>
    <div class="contenedor">
        <h1>WorkeAPP</h1>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar"><img src="../../../../assets/imgs/icono-menu.png"></label>
      <nav id="navigation" class="menu">
        <ul>
          <li><a [routerLink]="['/buscar']">Buscar</a></li>
          <li><a [routerLink]="['/registrar/usuario']">Reg. usu</a></li>
          <li><a [routerLink]="['/registrar/profesional']">Reg. pro</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/logout']">Logout</a></li>
          <li><a [routerLink]="['/detalle/2']">Detalle Pro #2</a></li>
          <li><a [routerLink]="['/fakeURL']">Error 404</a></li>
        </ul>
      </nav>
    </div>    
  </header>
  

<!-- <section>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/buscar']">
      <mat-icon>search</mat-icon>
      <span>Buscar</span>
    </button>

    <button mat-menu-item [routerLink]="estaAutorizado() ? ['/logout'] : ['/login']">
      <mat-icon>power_settings_new</mat-icon>
      <span>{{ logInOutTag() }}</span>
    </button>

    <button mat-menu-item [routerLink]="['/registrar/usuario']">
      <mat-icon>account_circle</mat-icon>
      <span>Registrar usuario</span>
    </button>

    <button mat-menu-item [routerLink]="['/registrar/profesional']">
      <mat-icon>account_box</mat-icon>
      <span>Registrar profesional</span>
    </button>
  </mat-menu>
</section> -->