<div id='container'>
    <div class='signup'>
       <form>
         <input type='text' placeholder='Nombre:'  />
         <input type='text' placeholder='Apellido:'  />
         <input type='text' placeholder='Correo:'  />
         <input type='text' placeholder='Password:'  />
         <input type='submit' placeholder='Confirmar Password' />
       </form>
    </div>
    <div class='texto_slogan'>
      <h1>WorkerApp</h1>
      <p>Una manera rápida y directa para un profesional cerca tuyo!!</p>      
    </div>
  </div>