<section>
    <h2>Buscar</h2>

  <div class="buscar">
    <i class="large material-icons white-text">{{ estaGeolocalizado ? 'not_listed_location' : 'person_pin_circle' }}</i>
    <form #searchForm="ngForm" (ngSubmit)="buscar(searchForm)">
      <div>
        <label for="terminoBusqueda">Qué quieres encontrar</label><br>
        <input #terminoBusquedaNg="ngModel" required id="terminoBusqueda" type="text" name="terminoBusqueda" [(ngModel)]="terminoBusqueda" minlength="1" class="buscar-input" placeholder="Qué quieres encontar">
        <div class="error" *ngIf="!terminoBusquedaNg.valid && terminoBusquedaNg.dirty">Campo obligatorio</div>
      </div>
      <div>
          <label for="distancia">Distancia máxima en km</label><br>
          <input #distanciaNg="ngModel" required type="number" id="distancia" name="distancia" [(ngModel)]="distancia" minlength="1" class="buscar-input" placeholder="Distancia máxima en km">
          <div class="error" *ngIf="!distanciaNg.valid && distanciaNg.dirty">Campo obligatorio</div>
        </div>
      <div>
          <label for="valoracion">Valoración mínima</label><br>
          <input #valoracionNg="ngModel" required type="number" id="valoracion" name="valoracion" [(ngModel)]="valoracion" minlength="1" class="buscar-input" placeholder="Valoración mínima">
          <div class="error" *ngIf="!valoracionNg.valid && valoracionNg.dirty">Campo obligatorio</div>
      </div>
      <div>
        <button (click)="buscar" class="buscar_btm">
          <i class="large material-icons white-text">search</i>
        </button>
      </div>
    </form>
  </div>
  <p>{{ terminoBusqueda }}</p>
  <p>listaResultados {{ listaResultados.length }}</p>
  <ul *ngIf="listaResultados">
    <li *ngFor="let profesional of listaResultados">
      <a [routerLink]="['/detalle/',profesional.proId]">{{ profesional.nombre }} {{ profesional.apellidos }}</a>
      <img [src]="profesional.url_avatar" [alt]="profesional.nombre">
      {{ profesional.distancia }} km
      {{ profesional.profesion }}
      {{ profesional.valoracionMedia }}
    </li>
  </ul>

</section>
