app-menu {
    display: inline-block;
}

h1 {
    font-size: 20px;
}

section {
    text-align: center;
    background-color: #e65100;
    color: white;
    margin: none;
    padding-top: .5em;
    padding-bottom: .5em;
}